*,
*::before,
*::after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
}

html,
body {
	min-height: 100vh;
}

img,
svg,
source {
	max-width: 100%;
}

a,
input,
button {
	cursor: pointer;
	font: inherit;
}

body {
	font-family: var(--main-font);
	font-style: normal;
	font-weight: 600;
	font-size: rem(16);
	color: var(--gray);
	line-height: lh(28, 16);
	background-color: var(--white);
}

.wrapper {
	position: relative;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.main {
	flex: 1 1 auto;
}

.container {
	max-width: calc(var(--container-width) + (var(--container-gap) * 2));
	padding: 0 var(--container-gap);
	margin: 0 auto;
}

//* COMPONENTS
.no-scroll {
	overflow: hidden;
}

.btn {
	text-decoration: none;
	color: var(--white);
	background: var(--orange);
	display: inline-block;
	padding: 16px 40px;
	border-radius: 12px;
	font-size: rem(18);
	transition: all 0.5s;
	border: 3px solid transparent;

	&:hover {
		border-color: var(--orange);
		background: transparent;
		color: var(--orange);
	}
}