@charset "UTF-8";
/*
	transition: 0.3s;

	ОТСТУПЫ 
	-- 1024px 
	128 = 90 = 60
*/
:root {
  --gray: #787676;
  --light-gray: #939191;
  --bg-light-gray: #e2e6e9;
  --bg-gray: #f2f2f2;
  --white: #fff;
  --black: #1e1b1b;
  --orange: #ff6433;
  --green: #61c3a1;
  --green2: #5cba99;
  --purple: #661ce7;
  --container-width: 1280px;
  --container-gap: 15px;
  --header-height: 92px;
  --main-font: "Manrope", sans-serif;
}

.brands__list, .experience__text, .experience__list, .call-to-action__title, .process-item__text, .process-item__title, .process__list, .process__text, .process__title, .offer-item__text, .offer__list, .section-title {
  margin: 0;
  padding: 0;
}

.process-item::before {
  display: flex;
  align-items: center;
  justify-content: center;
}

@font-face {
  font-family: "Manrope";
  src: url("../fonts/Manrope/Manrope-Medium.eot");
  src: url("../fonts/Manrope/Manrope-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Manrope/Manrope-Medium.woff2") format("woff2"), url("../fonts/Manrope/Manrope-Medium.woff") format("woff"), url("../fonts/Manrope/Manrope-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Manrope";
  src: url("../fonts/Manrope/Manrope-Bold.eot");
  src: url("../fonts/Manrope/Manrope-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Manrope/Manrope-Bold.woff2") format("woff2"), url("../fonts/Manrope/Manrope-Bold.woff") format("woff"), url("../fonts/Manrope/Manrope-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Manrope";
  src: url("../fonts/Manrope/Manrope-ExtraBold.eot");
  src: url("../fonts/Manrope/Manrope-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Manrope/Manrope-ExtraBold.woff2") format("woff2"), url("../fonts/Manrope/Manrope-ExtraBold.woff") format("woff"), url("../fonts/Manrope/Manrope-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Manrope";
  src: url("../fonts/Manrope/Manrope-SemiBold.eot");
  src: url("../fonts/Manrope/Manrope-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Manrope/Manrope-SemiBold.woff2") format("woff2"), url("../fonts/Manrope/Manrope-SemiBold.woff") format("woff"), url("../fonts/Manrope/Manrope-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

html,
body {
  min-height: 100vh;
}

img,
svg,
source {
  max-width: 100%;
}

a,
input,
button {
  cursor: pointer;
  font: inherit;
}

body {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 600;
  font-size: 1rem;
  color: var(--gray);
  line-height: 175%;
  background-color: var(--white);
}

.wrapper {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex: 1 1 auto;
}

.container {
  max-width: calc(var(--container-width) + var(--container-gap) * 2);
  padding: 0 var(--container-gap);
  margin: 0 auto;
}

.no-scroll {
  overflow: hidden;
}

.btn {
  text-decoration: none;
  color: var(--white);
  background: var(--orange);
  display: inline-block;
  padding: 16px 40px;
  border-radius: 12px;
  font-size: 1.125rem;
  transition: all 0.5s;
  border: 3px solid transparent;
}
.btn:hover {
  border-color: var(--orange);
  background: transparent;
  color: var(--orange);
}
.btn--black {
  background-color: var(--black);
  color: var(--white);
}
.btn--black:hover {
  border-color: var(--black);
  background: transparent;
  color: var(--black);
}

.section-title {
  color: var(--black);
  font-weight: 800;
  font-size: 3.625rem;
  line-height: 131.0344827586%;
}
@media (max-width: 768px) {
  .section-title {
    font-size: 2.625rem;
  }
}
@media (max-width: 550px) {
  .section-title {
    font-size: 1.75rem;
  }
}

.header {
  padding: 18px 0;
  background-color: var(--white);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 55;
  box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.2);
}
.header::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: -100%;
  width: 100%;
  background-color: var(--white);
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
  transition: right 0.5s;
}
.header.active::before {
  right: 0;
}
.header__body {
  display: flex;
  gap: 15px 32px;
  align-items: center;
}
@media (max-width: 1024px) {
  .header__body {
    justify-content: space-between;
  }
}
.header__logo {
  flex-shrink: 0;
  position: relative;
  z-index: 2;
}
.header__logo img,
.header__logo source {
  display: block;
}
.header__menu {
  margin-left: auto;
}
.header__phone-box {
  display: flex;
  flex-direction: column;
  padding-left: 86px;
  position: relative;
  flex-shrink: 0;
}
.header__phone-box::before {
  content: "";
  position: absolute;
  top: 6px;
  bottom: 6px;
  left: 0;
  width: 1px;
  background-color: var(--gray);
}
@media (max-width: 1024px) {
  .header__phone-box::before {
    display: none;
  }
}
@media (max-width: 1024px) {
  .header__phone-box {
    border-bottom: 1px solid var(--light-gray);
    width: 100%;
    align-items: center;
    padding-left: 0;
    padding-bottom: 15px;
    margin-bottom: 15px;
  }
}
.header__phone-text {
  font-weight: 500;
}
.header__phone-link {
  text-decoration: none;
  font-size: 1.125rem;
  color: var(--black);
  transition: all 0.5s;
}
.header__phone-link::before {
  content: "";
  position: absolute;
  left: 32px;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: var(--green) url("../images/icons/phone.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 20px;
  transition: all 0.5s;
}
@media (max-width: 1024px) {
  .header__phone-link::before {
    display: none;
  }
}
.header__phone-link:hover {
  color: var(--orange);
}
.header__phone-link:hover::before {
  background-color: var(--orange);
}

.logo {
  transition: all 0.5s;
}
.logo:hover {
  transform: scale(1.1);
}

@media (max-width: 1024px) {
  .menu {
    position: absolute;
    top: 0;
    right: -100%;
    width: 100%;
    padding-top: calc(var(--header-height) + 30px);
    padding-bottom: 30px;
    height: 100vh;
    overflow: auto;
    background-color: var(--white);
    transition: right 0.5s;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .menu.active {
    right: 0;
  }
}
.menu__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  gap: 10px 40px;
  flex-wrap: wrap;
  width: 100%;
}
@media (max-width: 1024px) {
  .menu__list {
    flex-direction: column;
    align-items: center;
  }
}
.menu__link {
  text-decoration: none;
  color: var(--black);
  transition: all 0.5s;
  position: relative;
}
@media (max-width: 1024px) {
  .menu__link {
    font-size: 1.125rem;
  }
}
.menu__link::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 50%;
  right: 50%;
  height: 2px;
  background-color: var(--orange);
  transition: all 0.5s;
}
.menu__link:hover {
  color: var(--orange);
}
.menu__link:hover::after {
  left: 0;
  right: 0;
}

.menu-btn {
  display: none;
  position: relative;
  z-index: 2;
  width: 45px;
  height: 30px;
  border: none;
  background: transparent;
}
@media (max-width: 1024px) {
  .menu-btn {
    display: block;
  }
}
.menu-btn span {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
  background-color: var(--black);
  height: 2px;
  transition: all 0.3s;
}
.menu-btn::before, .menu-btn::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  background-color: var(--black);
  height: 2px;
  transition: all 0.5s;
}
.menu-btn::before {
  top: 0;
}
.menu-btn::after {
  bottom: 0;
}
.menu-btn.active span {
  opacity: 0;
}
.menu-btn.active::before {
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);
}
.menu-btn.active::after {
  bottom: unset;
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
}

.first {
  --padding-top: 50px;
  --padding-bottom: 50px;
  background-color: var(--white);
  padding-top: calc(var(--header-height) + var(--padding-top));
  padding-bottom: var(--padding-bottom);
}
@media (max-width: 1440px) {
  .first {
    --padding-top: 25px;
  }
}
.first__body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  min-height: calc(100vh - var(--header-height) - var(--padding-top) - var(--padding-bottom));
}
@media (max-width: 1024px) {
  .first__body {
    flex-direction: column-reverse;
    min-height: 100%;
  }
}
.first__content {
  flex: 0 1 48%;
}
.first__title {
  margin: 0;
  padding: 0;
  color: var(--black);
  font-size: 4rem;
  line-height: 131.25%;
  font-weight: 800;
}
.first__title:not(:last-child) {
  margin-bottom: 32px;
}
@media (max-width: 768px) {
  .first__title {
    font-size: 3.25rem;
  }
}
@media (max-width: 550px) {
  .first__title {
    font-size: 2.1875rem;
  }
}
.first__btn-box {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px 32px;
}
@media (max-width: 550px) {
  .first__btn-box {
    justify-content: center;
  }
}
.first__btn-box:not(:last-child) {
  margin-bottom: 48px;
}
@media (max-width: 550px) {
  .first__btn-box:not(:last-child) {
    margin-bottom: 32px;
  }
}
@media (max-width: 550px) {
  .first__btn {
    width: 100%;
    text-align: center;
  }
}
.first__btn-video {
  border: none;
  background: transparent;
  padding: 12px 16px;
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 700;
  transition: all 0.5s;
  text-decoration: none;
  color: var(--black);
}
.first__btn-video svg {
  width: 24px;
  height: 24px;
  fill: var(--black);
  transition: all 0.5s;
}
.first__btn-video:hover {
  color: var(--orange);
}
.first__btn-video:hover svg {
  fill: var(--orange);
}
.first__info {
  display: flex;
  flex-direction: column;
  padding-left: 45px;
  position: relative;
}
.first__info::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 31px;
  height: 31px;
  transform: translateY(-50%);
  background: url("../images/icons/clock.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}
.first__info-text {
  color: var(--light-gray);
  font-weight: 500;
}
.first__info-schedule {
  font-size: 1.125rem;
  color: var(--black);
}
@media (max-width: 550px) {
  .first__info-schedule {
    font-size: 1rem;
  }
}
.first__image {
  flex: 0 1 45%;
  min-height: 632px;
  position: relative;
}
@media (max-width: 1024px) {
  .first__image {
    width: 100%;
    min-height: unset;
    padding-bottom: 50%;
  }
}
.first__image-box {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.first__image-box img,
.first__image-box source {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.popup-box {
  position: absolute;
  bottom: 70px;
  right: -20px;
  padding: 24px 32px;
  background-color: var(--white);
  border-radius: 59px;
  display: flex;
  align-items: center;
  gap: 14px;
  box-shadow: 0 0 0 12px rgba(225, 225, 225, 0.43);
}
.popup-box:nth-child(2) {
  top: 81px;
  left: -30px;
  right: unset;
  bottom: unset;
  padding: 15px;
  padding-right: 32px;
}
@media (max-width: 1024px) {
  .popup-box {
    display: none;
  }
}
.popup-box__icon {
  width: 70px;
  height: 70px;
  background-color: var(--green2);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
  color: var(--white);
}
.popup-box__icon span {
  font-size: 1.5rem;
}
.popup-box__text {
  font-size: 1.5rem;
  color: var(--black);
}
.popup-box__rating {
  display: flex;
  flex-direction: column;
  line-height: 1;
  align-items: center;
}
.popup-box__rating span:first-child {
  font-size: 1.5rem;
  color: var(--black);
}
.popup-box__image img {
  display: block;
}

.offer {
  padding: 128px 0;
  background-color: var(--bg-gray);
}
@media (max-width: 1024px) {
  .offer {
    padding: 90px 0;
  }
}
@media (max-width: 768px) {
  .offer {
    padding: 60px 0;
  }
}
.offer__body {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.offer__subtitle {
  max-width: 890px;
  text-align: center;
  margin: 0 auto;
  font-size: 1.5rem;
  line-height: 150%;
  color: var(--black);
}
.offer__subtitle:not(:last-child) {
  margin-bottom: 8px;
}
@media (max-width: 550px) {
  .offer__subtitle {
    font-size: 1.25rem;
  }
}
.offer__title {
  max-width: 890px;
  text-align: center;
  margin: 0 auto;
}
.offer__title:not(:last-child) {
  margin-bottom: 64px;
}
.offer__list {
  list-style-type: none;
  --columns: 4;
  --gap-horizontal: 8px;
  --width: calc(
  	(100% - (var(--gap-horizontal) * (var(--columns) - 1))) / var(--columns)
  );
  display: flex;
  flex-wrap: wrap;
  gap: 8px var(--gap-horizontal);
  width: 100%;
}
.offer__list:not(:last-child) {
  margin-bottom: 32px;
}
@media (max-width: 1024px) {
  .offer__list {
    --columns: 3;
  }
}
@media (max-width: 768px) {
  .offer__list {
    --columns: 2;
  }
}
@media (max-width: 550px) {
  .offer__list {
    --columns: 1;
  }
}
.offer__item {
  flex: 0 1 var(--width);
}
.offer__link {
  display: inline-flex;
  align-items: center;
  gap: 16px;
  text-decoration: none;
  color: var(--black);
  font-size: 1.125rem;
  transition: all 0.3s;
}
.offer__link svg {
  fill: currentColor;
  width: 52px;
  height: 32px;
}
.offer__link:hover {
  color: var(--orange);
}

.offer-item__link {
  padding: 16px;
  min-height: 232px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: var(--black);
  text-align: center;
  background-color: var(--white);
  transition: all 0.3s;
}
.offer-item__link:hover {
  background-color: #ff6433;
  color: var(--white);
}
.offer-item__icon {
  width: 45px;
  height: 45px;
}
.offer-item__icon:not(:last-child) {
  margin-bottom: 16px;
}
.offer-item__icon svg {
  height: 100%;
  fill: currentColor;
}
.offer-item__text {
  text-decoration: none;
  font-size: 1.5rem;
  line-height: 150%;
}

.process {
  padding: 135px 0;
  background-color: var(--white);
}
@media (max-width: 1024px) {
  .process {
    padding: 90px 0;
  }
}
@media (max-width: 768px) {
  .process {
    padding: 60px 0;
  }
}
.process__body {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  width: 90%;
}
@media (max-width: 1024px) {
  .process__body {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .process__body {
    flex-direction: column;
  }
}
.process__info {
  flex: 0 1 50%;
}
.process__title:not(:last-child) {
  margin-bottom: 16px;
}
.process__text {
  max-width: 435px;
}
@media (max-width: 768px) {
  .process__text {
    max-width: 100%;
  }
}
.process__text:not(:last-child) {
  margin-bottom: 32px;
}
@media (max-width: 550px) {
  .process__link {
    width: 100%;
    text-align: center;
  }
}
.process__list {
  list-style-type: none;
  flex: 0 1 39%;
  counter-reset: myCounter;
}
@media (max-width: 1024px) {
  .process__list {
    flex: 0 1 50%;
  }
}
.process__item:not(:last-child) {
  margin-bottom: 16px;
}

.process-item {
  position: relative;
  padding-left: 96px;
  padding-top: 13px;
}
@media (max-width: 550px) {
  .process-item {
    padding-left: 68px;
    padding-top: 8px;
  }
}
.process-item::before {
  counter-increment: myCounter;
  content: "0" counter(myCounter);
  position: absolute;
  left: 0;
  top: 0;
  width: 72px;
  height: 72px;
  background: url("../images/icons/circle-decor.png") var(--purple);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100%;
  border-radius: 50%;
  color: var(--white);
  font-weight: 700;
  font-size: 2rem;
}
@media (max-width: 550px) {
  .process-item::before {
    width: 52px;
    height: 52px;
    font-size: 1.5rem;
  }
}
.process-item:nth-child(n+10)::before {
  counter-increment: myCounter;
  content: counter(myCounter);
}
.process-item::after {
  content: "";
  position: absolute;
  left: 35px;
  bottom: 12px;
  display: block;
  height: calc(100% - 72px - 16px - 12px);
  border: 1px dashed var(--orange);
}
@media (max-width: 550px) {
  .process-item::after {
    left: 25px;
    height: calc(100% - 52px - 16px - 12px);
  }
}
.process-item:last-child::after {
  display: none;
}
.process-item__title {
  font-weight: 700;
  font-size: 2rem;
  line-height: 150%;
  color: var(--black);
}
@media (max-width: 550px) {
  .process-item__title {
    font-size: 1.5rem;
  }
}
.process-item__title:not(:last-child) {
  margin-bottom: 8px;
}
.process-item__text {
  max-width: 336px;
  font-size: 1.125rem;
}
@media (max-width: 768px) {
  .process-item__text {
    max-width: 100%;
  }
}
@media (max-width: 550px) {
  .process-item__text {
    font-size: 1rem;
  }
}

.call-to-action {
  position: relative;
}
.call-to-action__image-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
}
.call-to-action__image {
  position: relative;
  width: 100%;
}
.call-to-action__image img,
.call-to-action__image source {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.call-to-action__body {
  position: relative;
  z-index: 2;
  padding: 128px 60px;
  background-color: var(--orange);
  color: var(--white);
  width: 60%;
}
@media (max-width: 1024px) {
  .call-to-action__body {
    padding: 90px 30px;
    width: 70%;
  }
}
@media (max-width: 768px) {
  .call-to-action__body {
    padding: 60px 30px;
  }
}
@media (max-width: 550px) {
  .call-to-action__body {
    width: 90%;
  }
}
.call-to-action__title {
  font-weight: 700;
  font-size: 3rem;
  line-height: 140%;
}
.call-to-action__title:not(:last-child) {
  margin-bottom: 48px;
}
@media (max-width: 768px) {
  .call-to-action__title {
    font-size: 2.625rem;
  }
}
@media (max-width: 550px) {
  .call-to-action__title {
    font-size: 1.75rem;
  }
}
@media (max-width: 550px) {
  .call-to-action__link {
    width: 100%;
    text-align: center;
  }
}

.experience {
  padding: 48px 0;
  background-color: var(--bg-gray);
}
.experience__list {
  list-style-type: none;
  --gap: 50px;
  --column: 4;
  --width: calc((100% - var(--gap) * (var(--column) - 1)) / var(--column));
  display: flex;
  flex-wrap: wrap;
  gap: 30px var(--gap);
}
@media (max-width: 1024px) {
  .experience__list {
    --column: 3;
  }
}
@media (max-width: 768px) {
  .experience__list {
    --column: 2;
  }
}
@media (max-width: 550px) {
  .experience__list {
    --column: 1;
    text-align: center;
  }
}
.experience__item {
  flex: 0 1 var(--width);
}
.experience__number {
  font-weight: 800;
  font-size: 3.625rem;
  color: var(--purple);
  line-height: 131.0344827586%;
}
.experience__text {
  font-size: 1.5rem;
  line-height: 150%;
  color: var(--gray);
}

.brands {
  padding: 128px 0 82px;
  background-color: var(--bg-light-gray);
}
@media (max-width: 1024px) {
  .brands {
    padding: 90px 0;
  }
}
@media (max-width: 768px) {
  .brands {
    padding: 60px 0;
  }
}
.brands__title {
  text-align: center;
}
.brands__title:not(:last-child) {
  margin-bottom: 76px;
}
@media (max-width: 768px) {
  .brands__title:not(:last-child) {
    margin-bottom: 40px;
  }
}
.brands__list {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 120px 40px;
}
@media (max-width: 1024px) {
  .brands__list {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (max-width: 768px) {
  .brands__list {
    grid-template-columns: repeat(3, 1fr);
    gap: 60px 40px;
  }
}
@media (max-width: 550px) {
  .brands__list {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px 20px;
  }
}
.brands__item {
  justify-self: center;
  align-self: center;
}
.brands__link {
  display: inline-block;
  opacity: 0.6;
  transition: all 0.3s;
}
.brands__link:hover {
  opacity: 1;
}
.brands__link img {
  display: block;
}