.brands {
	padding: 128px 0;
	background-color: var(--bg-light-gray);

	@media (max-width: 1024px) {
		padding: 90px 0;
	}

	@media (max-width: 768px) {
		padding: 60px 0;
	}

	&__body {
	}

	&__title {
		text-align: center;

		&:not(:last-child) {
			margin-bottom: 76px;

			@media (max-width: 768px) {
				margin-bottom: 40px;
			}
		}
	}

	&__list {
		@extend %reset;
		list-style-type: none;

		display: grid;
		grid-template-columns: repeat(5, 1fr); // 1fr 1fr 1fr 1fr 1fr
		gap: 120px 40px;

		@media (max-width: 1024px) {
			grid-template-columns: repeat(4, 1fr);
		}

		@media (max-width: 768px) {
			grid-template-columns: repeat(3, 1fr);
			gap: 60px 40px;
		}
		@media (max-width: 550px) {
			grid-template-columns: repeat(2, 1fr);
			gap: 30px 20px;
		}
	}

	&__item {
		justify-self: center;
		align-self: center;
	}

	&__link {
		display: block;
		opacity: 0.6;
		transition: all 0.3s;

		&:hover {
			opacity: 1;
		}

		img {
			display: block;
		}
	}
}
