.first {
	//! локальные переменные
	--padding-top: 50px;
	--padding-bottom: 50px;

	background-color: var(--white);
	padding-top: calc(var(--header-height) + var(--padding-top)); // высота шапки + отступ на глаз
	padding-bottom: var(--padding-bottom); // на глаз


	@media (max-width: 1440px) {
		--padding-top: 25px;
	}

	&__body {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 20px;

		min-height: calc(100vh - var(--header-height) - var(--padding-top) - var(--padding-bottom)); //! регулирует высоту

		@media (max-width: 1024px) {
			flex-direction: column-reverse;
			min-height: 100%;
		}
	}

	&__content {
		flex: 0 1 48%;
	}

	&__title {
		margin: 0;
		padding: 0;
		color: var(--black);
		font-size: rem(64);
		line-height: lh(84, 64);
		font-weight: 800;

		&:not(:last-child) {
			margin-bottom: 32px;
		}

		@media (max-width: 768px) {
			font-size: rem(52);
		}

		@media (max-width: 550px) {
			font-size: rem(35);
		}
	}

	&__btn-box {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		gap: 16px 32px;

		@media (max-width: 550px) {
			justify-content: center;
		}

		&:not(:last-child) {
			margin-bottom: 48px;
			
			@media (max-width: 550px) {
				margin-bottom: 32px;
			}
		}
	}

	&__btn {
		@media (max-width: 550px) {
			width: 100%;
			text-align: center;
		}
	}

	&__btn-video {
		border: none;
		background: transparent;
		padding: 12px 16px;
		display: flex;
		align-items: center;
		gap: 8px;
		font-weight: 700;
		transition: all 0.5s;
		text-decoration: none;
		color: var(--black);

		svg {
			width: 24px;
			height: 24px;
			fill: var(--black);
			transition: all 0.5s;
		}

		&:hover {
			color: var(--orange);

			svg {
				fill: var(--orange);
			}
		}
	}

	&__info {
		display: flex;
		flex-direction: column;
		padding-left: 45px;
		position: relative;

		&::before {
			content: "";
			position: absolute;
			top: 50%;
			left: 0;
			width: 31px;
			height: 31px;
			transform: translateY(-50%);
			background: url("../images/icons/clock.svg");
			background-repeat: no-repeat;
			background-size: 100%;
			background-position: center;
		}
	}

	&__info-text {
		color: var(--light-gray);
		font-weight: 500;
	}

	&__info-schedule {
		font-size: rem(18);
		color: var(--black);

		@media (max-width: 550px) {
			font-size: rem(16);
		}
	}

	&__image {
		flex: 0 1 45%;
		min-height: 632px;
		position: relative;

		@media (max-width: 1024px) {
			width: 100%;
			min-height: unset;
			padding-bottom: 50%;
		}
	}

	&__image-box {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;

		img,
		source {
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			object-fit: cover;
		}
	}

	&__popup-box {
	}
}

.popup-box {
	position: absolute;
	bottom: 70px;
	right: -20px;
	padding: 24px 32px;

	background-color: var(--white);
	border-radius: 59px;
	display: flex;
	align-items: center;
	gap: 14px;
	box-shadow: 0 0 0 12px rgba(#e1e1e1, 0.43);

	&:nth-child(2) {
		top: 81px;
		left: -30px;
		right: unset;
		bottom: unset;

		padding: 15px;
		padding-right: 32px;
	}

	@media (max-width: 1024px) {
		display: none;
	}

	&__icon {
		width: 70px;
		height: 70px;
		background-color: var(--green2);
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 3px;
		color: var(--white);

		span {
			font-size: rem(24);
		}
	}

	&__text {
		font-size: rem(24);
		color: var(--black);
	}

	&__rating {
		display: flex;
		flex-direction: column;
		line-height: 1;
		align-items: center;

		span:first-child {
			font-size: rem(24);
			color: var(--black);
		}
	}

	&__image {
		img {
			display: block;
		}
	}
}
